* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #1b1717;
    color: #ffffff;
}

nav {
    background-color: #3498db; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .system-title h2 {
    color: #ffffff; 
    margin: 0; 
}

.theme-button {
    background-color: #ffffff; 
    color: #3498db; 
    border: none;
    border-radius: 50%; 
    padding: 10px;
    cursor: pointer;
}

.theme-button:hover {
    background-color: #3498db; 
    color: #ffffff; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.container.dark-mode {
    background-color: #000000;; 
    color: #ffffff; /
}

.overview, .graphs, .device-status, .logs {
    margin-bottom: 30px;
}

.overview h2, .graphs h2, .device-status h2, .logs h2 {
    margin-bottom: 15px;
}

.overview-grid, .status-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.overview-item, .status-item {
    padding: 10px;
    background-color: #f39c12;
    color: #ffffff; 
    border-radius: 4px;
}

.overview-label, .status-label {
    font-weight: bold;
}

.graph {
    height: 300px; 
    background-color: #ecf0f1; 
    border-radius: 8px;
    transition: background-color 0.3s ease; 
}

.container.dark-mode .graph {
    background-color: #1a1717; 
}

.bar-chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.bar {
    width: 20px;
    background-color: #e74c3c; 
}

.logs-container {
    /* Estilos para logs */
}

.logs-list {
    list-style-type: none;
    padding: 0;
}

.log-item {
    background-color: #3cb7e7;
    color: #ffffff; 
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.status-value {
    padding: 5px 10px;
    border-radius: 4px;
}

.status-value.on {
    background-color: #2ecc71;
    color: #ffffff; 
}

.status-value.off {
    background-color: #e74c3c;
    color: #ffffff; 
}
